<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984282861830-3ps9mkjda3lprnsrpooa7nk4p9q5d1m3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984282861830-3ps9mkjda3lprnsrpooa7nk4p9q5d1m3</string>
	<key>API_KEY</key>
	<string>AIzaSyCDS0xMLuFjHkA6m4i_qFZF6xe05RVs__w</string>
	<key>GCM_SENDER_ID</key>
	<string>984282861830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gsm.SPY</string>
	<key>PROJECT_ID</key>
	<string>spyy-d2d3b</string>
	<key>STORAGE_BUCKET</key>
	<string>spyy-d2d3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984282861830:ios:f153b0324a0a0c9e518e87</string>
	<key>DATABASE_URL</key>
	<string>https://spyy-d2d3b.firebaseio.com</string>
</dict>
</plist>